TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHANNEL_ID=@remote_belarus

DAILY_POST_LIMIT=5
MAX_PAGES_PRACA=4
MAX_PAGES_RABOTA=4
QUEUE_SIZE=25

TELEGRAM_POST_DELAY=3
TELEGRAM_PART_DELAY=4
SEEN_TTL_DAYS=21
REQUEST_DELAY=0.8
MIN_DESCRIPTION_LENGTH=200
